<!-- home.html -->
{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <!-- Content here -->
      <div class="col">
        <h1> Breaking Bad</h1>
        <div class="accordion" id="accordionExample">
          <div>
            <div>
              {%for i in breaking%}
                <a class="nav-item nav-link" href="breaking-bad/{{i}}">Temporada {{i}}</a>
              {% endfor %}
            </div>
          </div> 
        </div>
      </div>
      <div class="col">
        <h1> Better Call Saul </h1>
        <div class="accordion" id="accordionExample">
          <div>
            <div>
              {%for i in better%}
                <a class="nav-item nav-link" href="bettercallsaul/{{i}}">Temporada {{i}}</a>
              {% endfor %}
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
